# Quiz 2 Nicolas Ruffing

## Downloading and filtering the data

In [5]:
import pandas as pd

data = pd.read_csv('Index.csv')
data.columns = ['Date', 'GDAXI', 'FTSE']
data['Date'] = pd.to_datetime(data['Date'], format='%d.%m.%Y')
data = data.sort_values(by='Date').reset_index(drop=True)
data.head()

        Date     GDAXI     FTSE
0 2023-01-02  14069.26  7451.74
1 2023-01-03  14181.67  7554.09
2 2023-01-04  14490.78  7585.19
3 2023-01-05  14436.31  7633.45
4 2023-01-06  14610.02  7699.49

In [ ]:
# daily simple returns
daily_simple_returns = data.copy()
daily_simple_returns['DAX_Return'] = daily_simple_returns['GDAXI'].pct_change()
daily_simple_returns['FTSE_Return'] = daily_simple_returns['FTSE'].pct_change()

avg_return_dax = daily_simple_returns['DAX_Return'].mean()
std_dev_dax = daily_simple_returns['DAX_Return'].std()

avg_return_ftse = daily_simple_returns['FTSE_Return'].mean()
std_dev_ftse = daily_simple_returns['FTSE_Return'].std()


print("--- Results for DAX Index ---")
print(f"Average Daily Simple Return: {avg_return_dax:.6f} (or {avg_return_dax*100:.4f}%)")
print(f"Standard Deviation of Daily Returns: {std_dev_dax:.6f} (or {std_dev_dax*100:.4f}%)")
print("\n" + "="*35 + "\n")
print("--- Results for FTSE Index ---")
print(f"Average Daily Simple Return: {avg_return_ftse:.6f} (or {avg_return_ftse*100:.4f}%)")
print(f"Standard Deviation of Daily Returns: {std_dev_ftse:.6f} (or {std_dev_ftse*100:.4f}%)")

--- Results for DAX Index ---
Average Daily Simple Return: 0.000715 (or 0.0715%)
Standard Deviation of Daily Returns: 0.007861 (or 0.7861%)

===================================

--- Results for FTSE Index ---
Average Daily Simple Return: 0.000191 (or 0.0191%)
Standard Deviation of Daily Returns: 0.006597 (or 0.6597%)

### 1 b)

In [ ]:
confidence_level_pct = 95
z_value = 1.644854

var_dax = avg_return_dax - (z_value * std_dev_dax)
var_ftse = avg_return_ftse - (z_value * std_dev_ftse)

print("DAX Index VaR:")
print(f"  Calculated 1-Day VaR (Decimal): {var_dax:.6f}")
print(f"  Calculated 1-Day VaR (Percentage): {var_dax * 100:.4f}%")
print("\n  Interpretation:")
print(f"  We are {confidence_level_pct}% confident that the DAX will not lose more than {abs(var_dax * 100):.2f}% in a single day.")
print("="*40 + "\n")

print("="*40)
print("FTSE Index VaR:")
print(f"  Calculated 1-Day VaR (Decimal): {var_ftse:.6f}")
print(f"  Calculated 1-Day VaR (Percentage): {var_ftse * 100:.4f}%")
print("\n  Interpretation:")
print(f"  We are {confidence_level_pct}% confident that the FTSE will not lose more than {abs(var_ftse * 100):.2f}% in a single day.")
print("="*40)

DAX Index VaR:
  Calculated 1-Day VaR (Decimal): -0.012216
  Calculated 1-Day VaR (Percentage): -1.2216%

  Interpretation:
  We are 95% confident that the DAX will not lose more than 1.22% in a single day.
========================================

========================================
FTSE Index VaR:
  Calculated 1-Day VaR (Decimal): -0.010659
  Calculated 1-Day VaR (Percentage): -1.0659%

  Interpretation:
  We are 95% confident that the FTSE will not lose more than 1.07% in a single day.
========================================